fastapi==0.111.0
mangum==0.17.0
sqlalchemy==2.0.30
pymysql==1.1.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-dotenv==1.0.1
pydantic==2.7.1
pydantic-settings==2.3.0
python-multipart==0.0.9
certifi==2024.7.4
openpyxl==3.1.5
google-api-python-client==2.131.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
pyyaml==6.0.1
